<div class="flex items-center mt-2 ml-4">
  <form>
    <input
      type="text"
      name="input"
      [(ngModel)]="valueInput"
      class="w-[200px] h-[30px] border border-black rounded"
      placeholder="Search"
    />

    <button
      (click)="HandleSearch()"
      class="ml-[10px] w-[100px] h-[30px] border border-black rounded bg-black text-white cursor-pointer"
    >
      Search
    </button>
    <button
      *ngIf="valueInput.length > 0"
      (click)="HandleClear()"
      class="ml-[10px] w-[100px] h-[30px] border rounded bg-gray-200 border-gray-200"
    >
      Clear
    </button>
  </form>
</div>
