<div>
  <!-- TODO : mettre le header ici -->
  <app-search-bar
    (handleSearch)="HandleSearch($event)"
    (clearInput)="HandleClear()"
  ></app-search-bar>
  <div *ngIf="isLoading">
    <p>Is loading</p>
  </div>
  <div
    *ngIf="!isLoading"
    class="my-6 flex flex-wrap justify-around py-1 flex-row"
  >
    <div *ngFor="let anime of animeList; let index = index" class="my-10">
      <app-card [anime]="anime"></app-card>
    </div>
  </div>
  <div *ngIf="!isLoading && animeList.length === 0">
    <p>Not found</p>
  </div>
</div>
